{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <p>{{user.email}}</p>
    {{dump(recette)}}
    {{ form_start(form) }}
        {{ form_row(form.profile_picture) }}
    {{ form_end(form) }}

{% endblock %}
