{% extends 'base.html.twig' %}

{% block title %}Personnalisation du profil
{% endblock %}

{% block body %}
	<div class="container rounded bg-white mt-5 mb-5">
		<div class="row">
			<div class="col-md-3 border-right">
				<div class="d-flex flex-column align-items-center text-center p-3 py-5">
					<img class="rounded-circle mt-5" width="150px" alt="profile_picture" src="{{ asset('/profile_picture/' ~ app.user.profilePicture) }}" id="output" loading="lazy">
					<span class="font-weight-bold">{{ user.firstname }}
						{{ user.lastname }}</span>
					<span class="text-black-50">{{ user.email }}</span>
				</div>
			</div>
			<div class="col-md-5 border-right">
				<div class="p-3 py-5">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<h4 class="text-right">Paramètres du profil</h4>
					</div>
					{{ form_start(form) }}
					<div class="row mt-2">
						<div class="col-md-6">
							{{ form_label(form.firstname, 'Prénom', {
								'label_attr': {'class': 'labels', 'placeholder': 'Nouveau prénom'}
							}) }}
							{{ form_widget(form.firstname, {
								'attr': {'class': 'form-control'}
							}) }}
						</div>
						<div class="col-md-6">
							{{ form_label(form.lastname, 'Nom', {
								'label_attr': {'class': 'labels', 'placeholder': 'Nouveau nom'}
							}) }}
							{{ form_widget(form.lastname, {
								'attr': {'class': 'form-control'}
							}) }}
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-12">
							<label for="email" class="labels">Email</label>
							<input name="email" type="text" class="form-control disabled" value="{{ user.email }}" disabled>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-12">
							{{ form_label(form.password, 'Mot de passe', {
								'label_attr': {'class': 'labels', 'for': 'password', 'placeholder': 'Nouveau mot de passe'}
							}) }}
							{{ form_widget(form.password) }}
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-12">
							{{ form_label(form.profile_picture, 'Photo de profil', {
								'label_attr': {'class': 'labels', 'for': 'profile_picture', 'placeholder': 'Nouvelle photo de profil'}
							}) }}
							{{ form_widget(form.profile_picture) }}
						</div>
					</div>
					<div class="mt-5 text-center">
						{{ form_widget(form.validate) }}
					</div>
					{{ form_end(form) }}
				</div>
			</div>

			<div class="col-md-4">
				<div class="p-3 py-5">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<h4 class="text-right">Derniers menus sauvegardés</h4>
					</div>
					<div class="row mt-2">
						{% if generated_menus %}
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th class="text-center">Généré le</th>
										<th class="text-center">Nb Jours</th>
										<th class="text-center">Action</th>
									</tr>
								</thead>
								<tbody>
									{% if is_granted('ROLE_PREMIUM') %}
										{% for menu in generated_menus %}
											<tr>
												<td class="text-center">{{ menu.createdAt|date("d/m/Y H:i") }}</td>
												<td class="text-center">{{ menu.nbJours }}</td>
												<td class="text-center">
													<a href="{{ path('generation_menu', {'id_menu': menu.id, 'nb_jour': menu.nbJours}) }}" class="btn btn-primary">Voir</a>
												</td>
											</tr>
										{% endfor %}
									{% else %}
										<tr>
											<td class="text-center" colspan="2">Vous n'avez pas accès à cette fonctionnalité.</td>
											<td class="text-center">
												<a href="{{ path('app_payment') }}" class="btn btn-primary">Obtenir la version premium pour 4.99€/mois</a>
											</td>
										</tr>
									{% endif %}
								</tbody>
							</table>

						{% else %}
							<div class="alert alert-info">
								<p>Aucun menu n'a été généré pour le moment.</p>
							</div>
						{% endif %}
					</div>
				</div>
			</div>

		</div>

		{% if is_granted("ROLE_CHIEF") or is_granted("ROLE_ADMIN") %}
			<div class="row">
				<div class="col-md-12">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<h4 class="text-right">Vos recettes</h4>
					</div>
					<table id="recipesTable2" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Créé le</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for recette in user.recipes %}
								<tr>
									<td>{{ recette.name }}</td>
									<td>{{ recette.createdAt|date("d/m/Y")}}</td>
									<td>
										<a href="{{ path('recipe_show', {'id': recette.id}) }}" class="btn btn-primary">Voir</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endif %}

	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('profile_index') }}
{% endblock %}
