{% extends "admin/admin.html.twig" %}

{% block content %}
    <h3>Gestion des utilisateurs</h3>
    <div class="row">
        <div class="col">
            <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Mail</th>
                        <th>Role</th>
                        <th>Give role chief</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{user.email}}</td>
                            <td>{{user.roles[0]}}</td>
                            <td><a href="/role/{{user.id}}">Give Role Chief</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('show_user') }}
{% endblock %}

{% endblock %}