{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %} 
<div class="login_content text-center d-flex flex-column">
  <div class="container-fluid login_form rounded">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <p class="text-center fw-bold mx-3 mb-0 login_title">Créer mon compte</p>
        {{ form_start(registrationForm) }}
          <!-- Email input -->
          <div class="form-outline mb-4">
            {{ form_row(registrationForm.email) }}
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Agree -->
            <div class="form-check mb-0">
              {{ form_row(registrationForm.agreeTerms) }}
            </div>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            {# If you want to control the URL the user is redirected to on success #}
            {# <input type="hidden" name="_target_path" value="/account"/>  #}
            <input type="hidden" name="_target_path" value="/login"/>
            {{ form_row(registrationForm.save) }}
            {{ form_end(registrationForm) }}
            <p class="small fw-bold mt-2 pt-1 mb-0">Vous avez déjà un compte ?
            <a href="{{ path('login') }}">Se Connecter</a></p>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
