{% extends 'base.html.twig' %}

{% block title %}{{ ingredient.name }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="d-flex flex-column align-items-center mx-auto">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-2">{{ ingredient.name|capitalize }}</h1>
                </div>
            </div>
            {% if ingredient.image %}
            <div class="row">
                <div class="col-md-12">
                    <img src="{{ ingredient.image }}" alt="{{ ingredient.name }}" class="img-fluid">
                </div>
            </div>
            {% endif %}
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h3 class="display-5">{{ ingredient.recipes.count }} Recettes contiennent cet ingrédient</h3>
                    <div class="row">
                        {% for recette in ingredient.recipes %}
                            {% include 'components/recipe_thumbnail.html.twig' with {recipe: recette} %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}