{% extends "admin/admin.html.twig" %}

{% block title %}Gestion des tags{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Liste des tags</h4>
                    <p class="card-category">Ajouter, modifier ou supprimer un tag</p>
                </div>
                <div class="card-body">
                        <table id="tagsTable" class="table table-striped table-bordered">
                            <thead class="text-primary">
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Nom
                                </th>
                                <th>
                                    Recettes utilisant le tag
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for tag in tags %}
                                    <tr>
                                        <td>
                                            {{ tag.id }}
                                        </td>
                                        <td>
                                            {{ tag.name }}
                                        </td>
                                        <td>
                                            {{ tag.recipe.count }}
                                        </td>
                                        <td class="align-middle text-center">
                                            <div>
                                                <a href="{{ path('tag_edit',{tag: tag.id}) }}" type="button" class="btn btn-secondary">
                                                    <i class="fs-4 bi-pen"></i>
                                                </a>
                                                <form action="{{ path('tag_delete',{tag: tag.id}) }}" method="post" onsubmit="return confirm('Etes vous sur de supprimer ce Tag');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~tag.id) }}"/>
                                                    <input type="hidden" name="_method" value="DELETE"/>
                                                    <button type="submit" class="btn btn-secondary">
                                                        <i class="fs-4 bi-trash"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('show_tags') }}
{% endblock %}
