<div class="mt-3">
    <div id="filter" class="">
        {% if is_granted('ROLE_USER') %}
            <div class="row align-items-center">
                <form class="col-8" method="get" action="#">
                    <div class="d-flex col-12 justify-content-around align-items-center">
                        <div class="form-group d-flex justify-content-center align-items-center col-9">
                            <label for="nb_jour" class="">
                                Nombre de jours :
                            </label>
                            <select class="form-select w-50" name="nb_jour" id="nb_jour">
                                {% for i in range(2,7) %}
                                    <option value="{{ i }}">{{ i }} jours</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-3">

                            {# <select name="tag">
                                {% for tag in tags %}
                                    <option value="{{tag.id}}">{{tag.name}}</option>
                                {% endfor %}
                            </select>#}

                            <input class="btn_day btn" type="submit" value="Regénérer un Menu">
                        </div>
                    </div>
                </form>

                <!-- SAUVEGARDER LE MENU -->
                <form class="col-2" method="post" action="{{ path('save_menu') }}">
                    <input type="hidden" name="id_menu" value="{{ id_menu }}">
                    <input type="hidden" name="nb_jour" value="{{ nb_jour }}">
                    <textarea class="d-none" name="menu" id="menu" cols="30" rows="10">{{ json_menu|raw }}</textarea>
                    <button type="submit" id="save_menu" class="btn_day btn">
                        <i class="bi bi-file-earmark-arrow-down-fill"></i>
                        Sauvegarder le menu
                    </button>
                </form>

                <!-- EXPORTER LE MENU PAR MAIL -->
                <form class="col-2" method="post" action="#">
                    <input type="hidden" name="ingredient" value="1">
                    <button type="submit" class="col-12 btn_day btn">Envoi des ingrédients par mail</button>
                </form>
            </div>
        {% endif %}
        <!-- <p class="msgsend">{{msg}}</p> -->
    </div>

    <div class="row m-0">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="d-flex flex-row justify-content-center justify-content-around align-items-center">
                {% for i in range(0,nb_jour-1) %}
                    <p id="jour_{{ i }}" class="my-auto d-flex flex-column align-items-center btn btn-outline-primary {% if i is same as 0 %} active {% endif %} rounded shadow-sm" style="width: 150px">
                        <span>{{ "now"| date_modify("+" ~ i ~ " day") | date("l","Europe/Paris") }}</span>
                        <span class="fw-bold">{{ "now"| date_modify("+" ~ i ~ " day") | date("d/m","Europe/Paris") }}</span>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12" id="midi">
            {% for i in range(0,nb_jour-1) %}
                <div class="bg-light row {% if i is same as 0 %} d-block {% else %} d-none {% endif %}" id="show_jour_{{ i }}">
                    <div id="carouselExampleControls_{{ i }}" class="carousel slide carousel-animation">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row p-3 justify-content-center">
                                    {% include 'generation_menu/card_menu.html.twig' with {recette: entrees[i]} %}
                                    {% include 'generation_menu/card_menu.html.twig' with {recette: plats[i]} %}
                                    {% include 'generation_menu/card_menu.html.twig' with {recette: desserts[i]} %}
                                </div>
                                <div class="carousel-caption d-none d-md-block position-static">
                                    <h5>Midi</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row p-3 justify-content-center">
                                    {% include 'generation_menu/card_menu.html.twig' with {recette: entrees[i+nb_jour]} %}
                                    {% include 'generation_menu/card_menu.html.twig' with {recette: plats[i+nb_jour]} %}
                                    {% include 'generation_menu/card_menu.html.twig' with {recette: desserts[i+nb_jour]} %}
                                </div>
                                <div class="carousel-caption d-none d-md-block position-static">
                                    <h5>Soir</h5>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls_{{ i }}" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls_{{ i }}" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>