<section class="mt-3">
    <div id="filter" class="">
        {% if is_granted('ROLE_USER') %}
            <div class="row align-items-center">
                <form class="col-8" method="get" action="#">
                    <div class="d-flex col-12 justify-content-around align-items-center">
                        <div class="form-group d-flex justify-content-around align-items-center col-9">
                            <label for="nb_jour" class="">
                                Nombre de jours :
                            </label>
                            <select class="form-select w-50" name="nb_jour" id="nb_jour">
                                {% for i in range(2,7) %}
                                    <option value="{{ i }}">{{ i }} jours</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-3">

                            {# <select name="tag">
                                {% for tag in tags %}
                                    <option value="{{tag.id}}">{{tag.name}}</option>
                                {% endfor %}
                            </select>#}

                            <input class="btn_day btn" type="submit" value="Regénérer un Menu">
                        </div>
                    </div>
                </form>

                <!-- SAUVEGARDER LE MENU -->
                <form class="col-2" method="post" action="{{ path('save_menu') }}">
                    <input type="hidden" name="id_menu" value="{{ id_menu }}">
                    <input type="hidden" name="nb_jour" value="{{ nb_jour }}">
                    <textarea class="d-none" name="menu" id="menu" cols="30" rows="10">{{ json_menu|raw }}</textarea>
                    <button type="submit" id="save_menu" class="btn_day btn">
                        <i class="bi bi-file-earmark-arrow-down-fill"></i>
                        Sauvegarder le menu
                    </button>
                </form>

                <!-- EXPORTER LE MENU PAR MAIL -->
                <form class="col-2" method="post" action="#">
                    <input type="hidden" name="ingredient" value="1">
                    <button type="submit" class="col-12 btn_day btn">Envoi des ingrédients par mail</button>
                </form>
            </div>
        {% endif %}
        <!-- <p class="msgsend">{{msg}}</p> -->
    </div>

    <div id="main_table">
        <div class="row justify-content-center mt-3">
            <div class="row justify-content-between align-items-center mb-3">
                <button class="col-5 btn_day btn" id="btn-jour">
                    <i class="bi bi-brightness-high"></i>
                    Midi
                </button>
                <button class="col-5 btn_day btn" id="btn-nuit">
                    <i class="bi bi-cloud-moon"></i>
                    Soir
                </button>
            </div>
            <div class="row">
                <h1 id="test" class="text-center">Menu du Midi</h1>
            </div>
        </div>
        <div class="row w-100 mt-3">
            <div class="col-md-12 col-sm-12 col-lg-12 d-flex flex-column">

                <!-- JOUR -->
                <div class="jour" id="jour">
                    <div class="row justify-content-between">
                        {% for i in range(0,nb_jour-1) %}
                            <div class="col">
                            {% include 'generation_menu/card_menu.html.twig' with {index: i+nb_jour, entree: entrees[i], plat: plats[i], dessert: desserts[i]} %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- NUIT -->
                <div class="nuit d-none" id="nuit">
                    <div class="menu_content row">
                        {% for i in range(0,nb_jour-1) %}
                            <div class="col">
                            {% include 'generation_menu/card_menu.html.twig' with {index: i+nb_jour, entree: entrees[i+nb_jour], plat: plats[i+nb_jour], dessert: desserts[i+nb_jour]} %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="application/javascript">
  /**
   * @param {Boolean} isDay - Is day or night
   * @param {String} message - Title
   */
  const menu_day = (isDay, message) => {
    const object = document.querySelector('#test');
    object.innerText = message;
    if (isDay) {
      document.querySelector('#jour').classList.remove('d-none')
      document.querySelector('#nuit').classList.add('d-none')
    } else {
      document.querySelector('#jour').classList.add('d-none')
      document.querySelector('#nuit').classList.remove('d-none')
    }
  }

  let first = document.querySelector('#btn-jour');
  first.addEventListener('click', function() {
    menu_day(true, 'Menu du Midi');
  });

  let second = document.querySelector('#btn-nuit');
  second.addEventListener('click', function() {
    menu_day(false, 'Menu du Soir');
  });

</script>