<section>
    <div class="text-center">
        <div class="filter" >
            <form method="post" class="d-flex justify-content-around">
            
            <div class="dropdown nav-item mx-0 mx-lg-1">
                <a href="#" class="d-flex align-items-center text-black text-decoration-underline dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="nav-link py-3 px-0 px-lg-3 rounded text-black" href="#">Nombre de jours : </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="/generation-menu/2">2 jours</a></li>
                    <li><a class="dropdown-item" href="/generation-menu/3">3 jours</a></li>
                    <li><a class="dropdown-item" href="/generation-menu/4">4 jours</a></li>
                    <li><a class="dropdown-item" href="/generation-menu/5">5 jours</a></li>
                    <li><a class="dropdown-item" href="/generation-menu/6">6 jours</a></li>
                    <li><a class="dropdown-item" href="/generation-menu/7">7 jours</a></li>
            </div>
            <div class="change_menubutton">
            
                {# <select name="tag">
                    {% for tag in tags %}
                        <option value="{{tag.id}}">{{tag.name}}</option>
                    {% endfor %}
                </select>#}
                
                <input type="submit" value="Regénérer un Menu">
            </div>
                
                </form>
        </div>
        <div class="text-center d-flex flex-column">
            <div class="menu_title"><span class=" h3 text-uppercase">Déjeuners</span></div>
            <div class="menu_content d-flex justify-contant-center align-item-center">
                {% for j in cpt %}
                <div class="menu_unit rounded">
                    <div class="list_content d-flex flex-column">
                        <p><a href="/recipe/{{entreeM[j].id}}">{{entreeM[j].name}}</a></p>
                        <i class="bi bi-asterisk"></i>
                        <p><a href="/recipe/{{platM[j].id}}">{{platM[j].name}}</a></p>
                        <i class="bi bi-asterisk"></i>
                        <p><a href="/recipe/{{dessertM[j].id}}">{{dessertM[j].name}}</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="img_menu"><img class="mb_img" src="/img/mb.jpg" alt="MangerBoouger.fr"/></div>
            <div class="menu_title"><span class="menu_title h3 text-uppercase">Diners</span></div>
            <div class="menu_content d-flex flex-row justify-contant-arround align-item-center">
                {% for j in cpt %}
                <div class="menu_unit rounded">
                    <div class="list_content d-flex flex-column">
                        <p><a href="/recipe/{{entreeM[j].id}}">{{entreeM[j].name}}</a></p>
                        <i class="bi bi-asterisk"></i>
                        <p><a href="/recipe/{{platM[j].id}}">{{platM[j].name}}</a></p>
                        <i class="bi bi-asterisk"></i>
                        <p><a href="/recipe/{{dessertM[j].id}}">{{dessertM[j].name}}</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div> 
    </div>

</section>