<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block body %}
        <div class="container-fluid">
            <div class="row flex-nowrap">
                {% block navbar %}
                    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-primary">
                        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                                <span class="fs-5 d-none d-sm-inline">Menu Admin</span>
                            </a>
                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                                
                                <li class="nav-link">
                                    <a href="{{ path('admin_users') }}" class=" text-white px-0 align-middle">
                                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Utilisateurs</span>
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="{{ path('admin_ingredients') }}" class=" text-white px-0 align-middle">
                                        <i class="fs-4 bi-egg-fried"></i> <span class="ms-1 d-none d-sm-inline">Ingrédients</span>
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="{{ path('admin_recipes') }}" class=" text-white px-0 align-middle">
                                        <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Recettes</span>
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="{{ path('admin_report_comment') }}" class=" text-white px-0 align-middle">
                                        <i class="fs-4 bi-flag-fill"></i> <span class="ms-1 d-none d-sm-inline">Signalement</span>
                                    </a>
                                </li>
                                <li class="nav-item nav-link">
                                    <a href="{{ path('home') }}" class="text-white  align-middle px-0">
                                        <i class="fs-4 bi-house"></i><span class="ms-1 d-none d-sm-inline">Retour au site</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endblock %}
                <div class="col py-3">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
    </body>
</html>