{% extends "admin/admin.html.twig" %}

{% block title %} Gestion des utilisateurs {% endblock %}

{% block content %}
    <h3>Gestion des utilisateurs</h3>
    <div class="row">
        <div class="col">
            <table id="usersTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Utilisateur signaler</th>
                        <th>Message Signaler</th>
                        <th>Signaler par</th>
                        <th>Traiter</th>
                        <th>Signaler le</th>
                        <th>Dernier signalement</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                        <tr>
                            <td>{{ comment.message.user.lastname }} {{ comment.message.user.firstname }}</td>
                            <td>{{comment.message.content}}</td>
                            <td>
                                {% for user in comment.userSignalement %}
                                    {{user.lastname}} {{user.firstname}} <br>
                                {% endfor %}
                            </td>
                            <td>
                                {% if comment.traiter %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}
                            </td>
                            <td>{{comment.createAt|date('d/m/Y')}}</td>
                            <td>{{comment.updateAt|date('d/m/Y')}}</td>
                            <td class="text-center">
                                <a href="{{ path('admin_delete_report', {'id': comment.id}) }}" class="btn btn-secondary"><i class="fs-4 bi-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

