{% extends 'base.html.twig' %}

{% block title %}Hello NewRecetteController!{% endblock %}

{% block body %}
    <input type="text" id="search" placeholder="Rechercher une recette...">
    {% if is_granted('ROLE_CHIEF') %}
        <a href="{{ path('recipe_add') }}">Ajouter une recette</a>
    {% endif %}
    {% for recettes in recette %}
    {% set r = 0 %}
    {% set i = 0 %}
    {% set rat = 0 %}
    {% set c = 0 %}
        <a href="{{ path("recipe_show",{'id': recettes.id}) }}"><p>{{recettes.name}}</p></a>
        {% for rate in rating %}
            {% if rate.recette == recettes %}
                {% set r = r + rate.rate %}
                {% set i = i + 1 %}
            {% endif %}
        {% endfor %}
        {% for comments in comment %}
            {% if comments.recette == recettes %}
                {% set c = c + 1 %}
            {% endif %}
        {% endfor %}
        {% if i != 0 %}
            {% set rat = r / i %}
        {% endif %}
        {% if rat != 0 %}
            <p>{{rat}}/5</p><p>({{i}})</p>
        {% else %}
            <p>-/5</p><p>(0)</p>
        {% endif %}
        <p>({{c}})</p>
    {% endfor %}
{% endblock %}
