{% extends 'base.html.twig' %}

{% block title %}{{ recette.name }}{% endblock %}

{% block body %}
{% set difficulty = {
    '0': 'Très facile',
    '1': 'Facile',
    '2': 'Moyen',
    '3': 'Difficile'
} %}
    <style>
        .comment-wrapper .panel-body {
            max-height:650px;
            overflow:auto;
        }

        .comment-wrapper .media-list .media img {
            width:64px;
            height:64px;
            border:2px solid #e5e7e8;
        }

        .comment-wrapper .media-list .media {
            border-bottom:1px dashed #efefef;
            margin-bottom:25px;
        }

        .showLeft {
            background-color: white !important;
            border: 1px solid white !important;
            text-shadow: white !important;
            color: black !important;
            padding: 10px;
        }

        .icons li {
            background: none repeat scroll 0 0 black;
            height: 7px;
            width: 7px;
            line-height: 0;
            list-style: none outside none;
            margin-right: 15px;
            margin-top: 3px;
            vertical-align: top;
            border-radius: 50%;
            pointer-events: none;
        }

        .btn-left {
            left: 0.4em;
        }

/*        .btn-right {
            right: 0.4em;
        }

        .btn-left,
        .btn-right {
            position: absolute;
            top: 0.24em;
        }
        .dropbtn {
            background-color: #4caf50;
            position: fixed;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }*/
        .dropbtn:hover,
        .dropbtn:focus {
            background-color: #3e8e41;
        }
        /*.dropdown {
            position: absolute;
            display: inline-block;
            right: 0.4em;
        }*/
        .dropdown-content {
            display: none;
            position: relative;
            margin-top: 60px;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {
            background-color: #f1f1f1;
        }

        .show {
            display: block;
        }

    </style>

<section class="recipe" id="recipe">
    <div class="btn-titlemenu">
        <a class="btn-menu animated fadeInUp" href="{{ path('generation_menu',{nb_jour: 7}) }}">Retour à ma génération de menu</a>
        <a class="btn-menu animated fadeInUp" href="{{ path('recipe_all') }}">Retour a la liste des recettes</a>
    </div>

    <div class="container d-flex justify-content-between">
        <img class="w-50 recipe-img rounded shadow-sm" src="{{ recette.recipeImages[0].url }}" loading="lazy" alt="{{ recette.name }}">
        <div class="col recipe-content ">
            <p class="title">{{recette.name}}</p>
            <hr class="solid">
            <p class="description_recipe text-center">"Téma la description du bestio"</p>
            <hr class="solid">
            <div class="d-flex justify-content-between">
                <div class="col">
                    <p class="description">
                        <i class="icon bi bi-clock"></i>
                        Cuisiné en : <span class="fw-bold">{{ recette.preparationTime|date('H:i') }}</span>
                    </p>
                </div>
                <div class="col">
                    <p class="description">
                        <i class="icon bi bi-check-circle"></i>
                        Prêt en : <span class="fw-bold">{{ recette.totalTime|date('H:i') }}</span>
                    </p>
                </div>
                <div class="col">
                    <p class="description">
                        <i class="icon bi bi-bar-chart"></i>
                        Difficulté : <span class="fw-bold">{{ difficulty[recette.difficulty] }}</span>
                    </p>
                </div>
            </div>
            <hr class="solid">
            <div class="row">
                <div class="col-md-6">

                    {% for quantitie in recette.recipeQuantities %}
                        <p class="description">{{quantitie.content}}</p>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <div class="grid row">
                    {% for ingredient in recette.ingredients %}
                        <div class="col-md-4 mb-2">
                            <div class="rounded shadow-sm border">
                                <img class="w-100" alt="image_ingredient" loading="lazy" src="{{ ingredient.ingredient.image }}">
                                <p class="fw-bold text-center text-wrap">{{ingredient.ingredient.name}}</p>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <hr class="solid">
            <div class="d-flex justify-content-between">
                <div class="col">
                    <p class="description">
                        <i class="icon bi bi-award"></i>
                        Crée par : <span class="fw-bold">{{ recette.userId.firstName }} {{ recette.userId.lastName }}</span>
                    </p>
                </div>
                <div class="col">
                    <p class="description">
                        <i class="icon bi bi-calendar2-week"></i>
                        Ajouté le : <span class="fw-bold">{{ recette.createdAt|date('d/m/Y') }}</span>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
        {% set i = 1 %}
        {% for step in recette.recipeSteps %}
            <div class="col-md-12">
                <p class="description">
                    <span class="fw-bold">Etape {{ i }} : </span> {{step.step}}
                </p>
            </div>
            {% set i = i+1 %}
        {% endfor %}
        </div>
        <hr class="solid">
    </div>


    <div class="container comment-wrapper">
        <div class="panel panel-info">
            <div class="panel-header">
                <div class="rating">
                    {% for i in (1..5) %}
                        {% if rating != [] and rating.rate == i %}
                            <input type="radio" name="rating" value="{{ i }}" id="rating_{{ i }}" checked data-recipe="{{ recette.id }}">
                        {% else %}
                            <input type="radio" name="rating" value="{{ i }}" id="rating_{{ i }}" data-recipe="{{ recette.id }}">
                        {% endif %}
                        <label for="rating_{{ i }}">☆</label>
                    {% endfor %}
                </div>
            </div>
            <div class="panel-body">
                {{ form_start(recetteForm) }}
                    {{ form_row(recetteForm.content) }}
                    {{ form_row(recetteForm.save) }}
                {{ form_end(recetteForm) }}
                <div class="clearfix"></div>
                <hr>
                <ul class="media-list">
                    {% for comment in recette.comments %}
                    <li class="media">
                        <a href="#" class="left">
                            <img src="{{ asset('profile_picture/'~comment.user.profilePicture) }}" alt="" class="img-circle">
                        </a>
                        <div class="media-body d-flex justify-content-between">
                            <div>
                                <span class="text-muted right">
                                    <small class="text-muted">{{comment.createdAt | date("d/m/Y h:i:s")}}</small>
                                </span>
                                <strong class="text-success">{{comment.user.firstname}} {{ comment.user.lastname }}</strong>
                                <p>
                                    {{comment.content}}
                                </p>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <!-- three dots -->
                                    <ul class="dropbtn icons btn-right showLeft" onclick="showDropdown()">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    </ul>
                                    <!-- menu -->
                                    <div id="myDropdown" class="dropdown-content">
                                        <a href="#">Signaler le message</a>
                                        {% if comment.user.id == app.user.id or is_granted("ROLE_ADMIN") %}
                                            <a href="{{ path('delete_comment', {'id': comment.id}) }}">Supprimer le message</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</section>    
<script>
    function showDropdown() {
    document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
    if (!event.target.matches(".dropbtn")) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains("show")) {
            openDropdown.classList.remove("show");
        }
        }
    }
    };
</script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('new_recette_show') }}
{% endblock %}
