{% extends 'base.html.twig' %}

{% block title %}{{ recette.name }}{% endblock %}

{% block body %}

<a href="/recipe/all">Retour a la liste des recettes</a>
    <p>{{recette.name}}</p>
    <div>
        {% for ingredients in ingredient %}
            <p>- {{ingredients.ingredient.name}}</p>
        {% endfor %}
    </div>
    <div>
        {% for steps in step %}
            <p>{{steps.step}}</p>
       {% endfor %}
    </div>
    <div class="rating">
        {% for i in (1..5) %}
            {% if rating != [] and rating.rate == i %}
                <input type="radio" name="rating" value="{{ i }}" id="rating_{{ i }}" checked data-recipe="{{ recette.id }}">
            {% else %}
                <input type="radio" name="rating" value="{{ i }}" id="rating_{{ i }}" data-recipe="{{ recette.id }}">
            {% endif %}
                <label for="rating_{{ i }}">☆</label>
        {% endfor %}
    </div>
    <div>
        {{ form_start(recetteForm) }}
            {{ form_row(recetteForm.content) }}
            {{ form_row(recetteForm.save) }}
        {{ form_end(recetteForm) }}
    </div>
    <div>
        <h2>Commentaires</h2>
        {% for comments in comment %}
            {% if comments.recette == recette %}
                <div>
                    <p>{{comments.user.email}}</p>
                    <p>{{comments.content}}</p>
                    <p>{{comments.createdAt | date("d/m/Y h:i:s")}}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('new_recette_show') }}
{% endblock %}
